{{ define "main" }}

        <div class="row-fluid navmargin">
            <div class="page-header">
                <h1>{{ .Site.Params.mainpagetitle }}</h1>
            </div>
        </div>


        <div class="span8 bs-docs-sidebar">
            <div class="bs-component">
                <div class="jumbotron">
                    <p class="lead">{{ .Site.Params.mainpagesubtitle }}</p>
                </div>
            </div>
            <p>
                <a href="https://youtu.be/2i8C-GOsHo0?t=20"> Welcome to New York City! </a>
            </p>
            
            <h1>Meetings</h1>
            <p>We generally meet at <a href="https://fatcatfablab.org/"> Fat Cat Fab Lab  </a> at starting at 7pm roughly every 1-2 months until we get kicked out roughly ~10-11pm or so.</p>
            <p> We use <a href="https://www.meetup.com/defcon212/"> Meetup </a> to organize and announce meetings. </p>

            <h1>Contact</h1>
            <p> </p>



            <h1>NYC InfoSec/Hacking Related Resources</h1>
            <p> test</p>

            <h1> If visiting NYC</h1>
            <p> test </p>

        </div>






        <div class="span3 bs-docs-sidebar">
            <pre>
            ,:
            ,?}'
          =!J |
        ,*-. ?&
        WP) Y9P
       YP   ,W'
      ,W)  ,WW.'
      WW) ,WWW)
      7W),WWWW'
      `WWWWWW'
       9---W)
   ,,--WPL=YXW===
  (P),CY:,I/X'F9P
  WUT===---/===9)
  -HP+----Y(C=9W)
   '9Y3'-'-OWPT-
    'WWLUIECW
     (:7L7C7'
    ,P--=YWFL
    Y-=:9)UW:L
    3-'9=WU/.7
   ,WP9HTFUW'()
    9W7W))UF 9)
    7WYW))PW W
     7WH)),WC)
      7L--/XY)
      9+-,KY7)
      W9-Y3+7)
      W'=9WI7)
     ,W  '-YY)

            </pre>
    <a href="https://asciiart.website/index.php?art=places/statue%20of%20liberty">Source</a>
    </div>





{{ end }}
